body {
    background-image: url("https://static3.depositphotos.com/1000152/120/i/600/depositphotos_1207688-stock-photo-clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.div-main {
    display: flex;
    
}
.second-div{
    margin:0px auto;
    margin-top: 50px;
    padding: 10px;
}


p {
    color: rgb(35, 11, 100);
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

ul {
    margin-top: 10px;
}

h1 {
    color: white;
}