body {
    background-image: url("https://static3.depositphotos.com/1000152/120/i/600/depositphotos_1207688-stock-photo-clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.div-main {
    display: flex;
    
}
.second-div{
    margin:0px auto;
    margin-top: 150px;
    padding: 10px;
}


p {
    color: red;
}